<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carter Rabasa's README</title>
    <style>
    body {
        font-family: Consolas, monaco, monospace; 
        padding: 16px; 
        margin: 16px;
        border: 1px solid #aaa; 
        border-radius: 6px;
    }
    @media only screen and (min-width: 768px) {
        body {
            width: 1000px;
            margin: 16px auto;
        }  
    }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>